/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #7fb378;
$secondary: rgb(115,150,94);
$tertiary: rgb(85,117,71);

/** ASSET URLS
 * login-bg: image for login splash page
 */

$login-bg: url('http://www.ycphacks.io/images/willmanbg.jpg');
